if SHIELD_YARISUGI_LEFT

config ZMK_KEYBOARD_NAME
    default "Yarisugi"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT

config ZMK_SPLIT
    default y

endif