if SHIELD_YARISUGI_LEFT

config ZMK_KEYBOARD_NAME
    default "Yarisugi"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_YARISUGI_LEFT || SHIELD_YARISUGI_RIGHT

config ZMK_SPLIT
    default y

endif